# System Files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Distribution directories
dist/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Local backend env file
server/.env
